*.pyc
equipment/*.pyc
equipment/migrations/*.pyc
equipment/migrations/*.py
machine/*.pyc
machine/migrations/*.py
machine/migrations/*.pyc
db.sqlite3
berth/migrations/*.py
berth/migrations/*.pyc
db.sqlite3_before_fix_voy_pk
