{% extends "base.html" %}
{% load system_tag %}

{% block head %}
{% endblock head %}

{% block title %}
    Berth Schedule Report
{% endblock %}


{% block form_content %}
	<div class="row">
		
				<h3>Cut-Off Setup <small><a href="{% url 'berth:cutoff-home' %}">Cut-Off Table</a></small></h3>
				<table class="table table-bordered">
				      <tr>
				        <th>Name</th>
				        <th>Cut-off datetime</th>
				      </tr>
				
					 <tr>
					 	<td>Dry</td><td>{{ object.dry_date }}</td>
					 </tr>
					 <tr>
					 	<td>Reef</td><td>{{ object.reef_date }}</td>
					 </tr>
					 <tr>
					 	<td>Chilled</td><td>{{ object.chilled_date }}</td>
					 </tr>
					 <tr>
					 	<td>Durian/Longan</td><td>{{ object.durian_date }}</td>

				</table>
	<hr/>
	<h3>Make Change</h3>
	{% include 'snippets/form_snippet.html' with form=form %}
	</div>
{% endblock form_content %}